.fondo {
    background-color: #4caf50;
    display: inline-block;
    box-sizing: content-box;
}  
.bloque {
        display: inline-block;
        width: 360px;
        height: 250px;
        border: 1px solid black;
        text-align: center;
        line-height: 45px;
        background-color: white;
        box-shadow: black 1px 0 5px;
        padding: 45px;
}
.cuadros1 {background-color: #f2f2f2;
            text-align: center;

}